streamlit
ollama
langchain
langchain-community
faiss-cpu
langchain-ollama
streamlit-chat
pymupdf 
python-docx
langchain-experimental
matplotlib
numpy
pandas
seaborn
scikit-learn
plotly
requests
pypdf
beautifulsoup4
